.container {
    margin-top: 2rem;
}


.card {
    border: none;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: #ffffff;
}

.card-header {
    border-radius: 0.75rem 0.75rem 0 0;
    padding: 1rem;
}

.card-body {
    padding: 2rem;
}


.img-fluid {
    max-width: 100%;  
    height: auto;
    margin-bottom: 1rem;
}


p {
    font-size: 1rem;
    color: #666; 
    margin-bottom: 0.5rem;
}


strong {
    color: #333;
}


.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .card-body {
        padding: 1.5rem;  
    }

    .btn-warning, .btn-danger {
        font-size: 1rem;  
    }

    
}
