<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project Management App{% endblock %}</title>
    
    {% load static %}
    
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Project Management</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="/projects/register/">Register</a></li>
                </ul>
            </nav>
        </header>
        
        
        {% block content %}
        {% endblock %}
    </div>

    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
